*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-ls{
    width: 900px;
    height: 100vh;
    padding: 30px;
    background-color: aquamarine;
}

/* .message-box{} */

.message{
    display: flex;
    align-items: center;
    background-color: yellow;
    position: relative;
    margin-left: 10px;
}

.text-message{
    padding: 2px;
    width: 100px;
    height: 40px;
    background-color: green;
    border-radius: 50px 0 0 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
}

.user-profile{
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    left: -40px;
    border-radius: 50px;
}